* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(60, 9, 108, 0.7);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: rgba(190, 125, 255, 1.0);
    color: rgba(190, 125, 255, 1.0);
	background-color: rgba(16, 0, 43, 0.75);
	border-style: solid;
	border-width: 3px;
	border-color: #240046;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:hover {
	background-color: rgba(90, 24, 154, 0.75);
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
