* {
	font-family: Rethink Sans;
}

window {
	background-color: rgba(36, 0, 70, 0.5);
}

#outer-box {
	background-color: rgba(36, 0, 70, 0.5);
	border-style: solid;
	border-color: rgba(224, 170, 255, 1);
	border-width: 1px;
}

#input {
	background-color: rgba(16, 0, 43, 0.75);
	color: #E0AAFF;
	font-size: 24px;
	border-style: solid;
	border-color: rgba(224, 170, 255, 1);
	border-width: 1px;
	border-radius: 0;
}

#inner-box {
	scrollbar-width: none;
}

#text {
	font-size: 18px;
	color: #E0AAFF;
}

#text:selected{
	color: #240046;
}

#entry{
	background-color: rgba(16, 0, 43, 0.5);
	margin-top: 1px;
	border: none;
}

#entry:selected{
	background-color: #E0AAFF;
	color: #10002B;
}
